<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.test.IBM.General"/>
      <class name="com.test.IBM.AppTest"/>
      <class name="com.test.IBM.Logintofb"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
